@{
    ViewData["Title"] = "GetPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="width:450px;">
    <form id="form11" asp-controller="Admin">
        <div id="refresh" name="refresh">
            <div class="form-group">
                <label for="formGroupExampleInput">Doğruluk</label>
                <input type="text" class="form-control" name="content" id="formGroupExampleInput" placeholder="Doğruluk Giriniz">
            </div>
            <button type="button" class="btn btn-success" onclick="DogrulukEkle()">Ekle</button>
            <br />
            <br />
            <br />
            <div class="form-group">
                <label for="formGroupExampleInput">Cesaret</label>
                <input type="text" class="form-control" name="content2" id="formGroupsExampleInputCesaret" placeholder="Cesaretlilik Giriniz">
            </div>
            <button type="button" class="btn btn-success" onclick="CesaretEkle()">Ekle</button>
        </div>
    </form>
</body>
@section Scripts{
    <script>
        function DogrulukEkle() {
            var form = $("#form11").serialize();
            console.log(form);
            $.ajax({
                url: "/Admin/AddContents/",
                datatype: "json",
                type: "POST",
                content: "application/json;",
                data: form,
                async: true,
                success: function (result) {
                    if (result.success) {
                        document.getElementById("form11").reset();
                        Swal.fire(
                            'İşlem Başarılı',
                            'Devam Et Seri',
                            'success'
                        );
                    }
                    else {
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function CesaretEkle() {
            var form = $("#form11").serialize();
            console.log(form);
            $.ajax({
                url: "/Admin/AddContents2/",
                datatype: "json",
                type: "POST",
                content: "application/json;",
                data: form,
                async: true,
                success: function (result) {
                    if (result.success) {
                        document.getElementById("form11").reset();
                        Swal.fire(
                            'İşlem Başarılı',
                            'Devam Et Seri',
                            'success'
                        );
                    }
                    else {
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

    </script>

}
