@model Entity.Concrete.ViewModels.TruthOrDareVM
@{
    ViewData["Title"] = "GetPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="width:450px;">
    <form id="form11" asp-controller="Admin">
        <div class="form-group">
            <label for="formGroupExampleInput">Doğruluk</label>
            <input type="text" asp-for="@Model.Game.content" class="form-control" name="content" id="formGroupExampleInput" placeholder="Doğruluk Giriniz">
        </div>
        <button type="submit" class="btn btn-success" onclick="DogrulukEkle()">Ekle</button>
        <br />
        <br />
        <br />  
    </form>
    <form id="form12" asp-controller="Admin">
        <div class="form-group">
            <label for="formGroupExampleInput">Cesaret</label>
            <input type="text" asp-for="@Model.Game2.content" class="form-control" name="content" id="formGroupsExampleInput" placeholder="Cesaretlilik Giriniz">
        </div>
        <button type="submit" class="btn btn-success" onclick="CesaretEkle()">Ekle</button>
    </form>
</body>
@section Scripts{
    <script>
        function DogrulukEkle() {
            debugger;
            var form = $("#form11").serialize();
            console.log(form);
            $.ajax({
                url: "/Admin/AddContents/",
                datatype: "json",
                type: "POST",
                content: "application/json;",
                data: form,
                async: true,
                success: function (result) {
                    if (result.Success) {
                        alert('s');
                    }
                    else {
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function CesaretEkle() {
            debugger;
            var form = $("#form12").serialize();
            console.log(form);
            $.ajax({
                url: "/Admin/AddContents2/",
                datatype: "json",
                type: "POST",
                content: "application/json;",
                data: form,
                async: true,
                success: function (result) {
                    if (result.Success) {
                        alert("başarılı");
                    }
                    else {
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

    </script>

}
