@model Entity.Concrete.Game

@{
    ViewData["Title"] = "TruthOrDare";
    Layout = "~/Views/Shared/_TruthLayout.cshtml";
}

<form enctype="multipart/form-data">
    <div class="container">
        <div class="brand-logo"></div>
        <div style="margin-top:65px;">
            <div class="brand-title">Doğruluk Cesaretlilik ?</div>
            <button id="truth" onclick="Truth()" type="button">DOĞRULUK</button>
            <div class="inputs">
                <div transition-style="in:square:center" class="box" style="margin-left:30px;font-size:larger" id="deneme"></div>
                <button onclick="Dare()" type="button">CESARET</button>
            </div>
        </div>
        <a href="https://instagram.com/selckyzci" target="_blank">developed by selckyzci</a>
    </div>
</form>

@section Scripts{
    <script>
        function Truth() {
            $.ajax({
                url: "/Game/GetTruth/",
                method: "Get",
                success: function (data) {
                    document.getElementById('deneme').innerHTML = data.content;
                }
            })
        }

        function Dare() {
            $.ajax({
                url: "/Game/GetDare/",
                method: "Get",
                success: function (data) {
                    document.getElementById('deneme').innerHTML = data.content;
                }
            })
        }
    </script>
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
