@model Entity.Concrete.Truth

@{
    ViewData["Title"] = "TruthOrDare";
    Layout = "~/Views/Shared/_TruthLayout.cshtml";
}

<form enctype="multipart/form-data">
    <div class="container">
        <div class="brand-logo"></div>
        <div>
            @*<div id="ekmek" class="brand-title">? Doğruluk mu Cesaretlik mi ?</div>*@
            <img src="~/logo.png" style="width:270px;" />
            <button id="truth" style="background-color: #e3b226; font-family: 'Alkatra', cursive;font-size:18px" onclick="Truth()" type="button">DOĞRULUK</button>
            <div class="inputs">
                <h3 id="deneme" style="color: cornsilk; font-family: 'PTSerif-Bold';font-size:22px;"></h3>
            </div>
            <button onclick="Dare()" style="color: cornsilk; font-family: 'Alkatra', cursive; font-size: 18px" type="button">CESARET</button>
            <a href="https://www.instagram.com/selckyzci/" target="_blank">developed by selckyzci</a>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        function Truth() {
            $.ajax({
                url: "/Game/GetTruth/",
                method: "Get",
                success: function (data) {
                    document.getElementById('deneme').innerHTML = data.content;
                }
            })
        }

        function Dare() {
            debugger;
            $.ajax({
                url: "/Game/GetDare/",
                method: "Get",
                success: function (data) {
                    document.getElementById('deneme').innerHTML = data.content2;
                }
            })
        }

    </script>
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
