
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="child">
            asdasd
        </div>
    </div>
</body>
</html>




