@{
    ViewData["Title"] = "Galeri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="slider-area2 ">
    <div class="slider-height2 hero-overly d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero__caption hero__caption2">
                        <h2>Galeri</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container box_1170">
    <div class="section-top-border" ">
        <div class="row gallery-item">
            <div class="col-md-4">
                <a href="/assets/img/elements/g1.jpg" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(/assets/img/elements/g1.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/assets/img/elements/g2.jpg" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(/assets/img/elements/g2.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/assets/img/elements/g3.jpg" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(/assets/img/elements/g3.jpg);"></div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="/assets/img/elements/g4.jpg" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(/assets/img/elements/g4.jpg);"></div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="/assets/img/elements/g5.jpg" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(/assets/img/elements/g5.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/assets/img/elements/g6.jpg" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(/assets/img/elements/g6.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/assets/img/elements/g7.jpg" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(/assets/img/elements/g7.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/assets/img/elements/g8.jpg" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(/assets/img/elements/g8.jpg);"></div>
                </a>
            </div>
        </div>
    </div>
</div>
